{{ partial "header.html" . }}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage":{
      "@type":"WebPage",
      "@id":"{{ .Site.BaseURL }}"
    },
    "headline": "{{ .Title }} | {{ .Site.Title }}",
    "image": {
      "@type": "ImageObject",
      "url": "{{ .Site.BaseURL }}images/george-700.jpg",
      "height": 700,
      "width": 700
    },
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "url" : "{{ .Permalink }}",
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05JST" }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05JST" }}",
    "author": {
      "@type": "Person",
      "name": "{{ .Site.Params.author }}",
      "image": "{{ .Site.BaseURL }}images/george-400.jpg"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Copyright }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ .Site.BaseURL }}images/george-60.jpg",
        "height": 60,
        "width": 60
      }
    },
    "description": "{{ .Description }}",
    "timeRequired": "{{ .ReadingTime }} minutes",
    "wordCount": "{{ .WordCount }}",
    "articleBody": {{ .Content | html }},
    "keywords" : [ {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} ]
  }
</script>
<p class="date">Last updated <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05" }}" data-updated="true">{{ .Lastmod.Format "Monday, Jan 2, 2006" }}</time></p>

<h1>{{ .Title }}</h1>
<h2 class="dropcap">{{ .Description }}</h2>
<p class="meta">Estimated reading time: {{ .ReadingTime }} minutes </p>
<h2 class="toc">Table of contents</h2>
{{ .TableOfContents }}
 
{{ .Content }}
<p class=highlight>Have an update or suggestion for this article? 
<a href="https://github.com/shapeshed/shapeshed.com/edit/master/content/{{ .File.Path }}">You can edit it here and send me a pull request.</a></p>

<h2>Tags</h2>
<ul id="tags">
  {{ range .Params.tags }}
  <li><a href="/tags/{{ . | urlize }}">{{ . }}</a> </li>
  {{ end }}
</ul>
<h2>Recent Posts</h2>
<ul>
  {{ range first 3 (where .Site.Pages "Section" "post") }}
  <li>
    <p><a href="{{ .Permalink }}">
      {{ .Title }}
    </a><br />
    {{ .Description }}<p>
  </li>
  {{ end }}
</ul>
{{ partial "footer.html" . }}
