<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/{{ with .Site.Params.SyntaxHighlightTheme }}{{ . }}{{ else  }}solarized_dark.min.css{{ end }}">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="{{ .Site.BaseURL }}atom.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ if eq .URL "/" }}
    <title>{{ .Title }}</title>
    <meta property='og:title' content="{{ .Title }}">
    <meta property="og:type" content="website">
    {{ else }}
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <meta property='og:title' content="{{ .Title }} | {{ .Site.Title }}">
    <meta property="og:type" content="article">
    {{ end }}
    {{ with .Params.image }}<meta property="og:image" content="{{ $.Site.BaseURL }}images/{{ . }}">{{ end }}
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" value="{{ .Site.Title }}">
    

    <meta name="author" content="George Ornbo">
    <meta name="twitter:card" value="summary">
    <meta name="twitter:title" value="{{ .Title }} | {{ .Site.Title }}">
    <meta name="twitter:site" value="@shapeshed">
    <meta name="twitter:creator" value="@shapeshed">
    <meta name="twitter:domain" value="shapeshed.com">

    {{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Params.original }}<meta rel="canonical" href="{{ . }}">{{ end }}

</head>

<body>

  <header>
    <nav>
      <ul class="primary">
        <li><a href="/">Home</a></li>
        <li><a href="/archive/">Archive</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
  </header>

